input{
    padding:0 0.5rem;
    border: 0;
    box-shadow:0 1px 3px 0 rgb(43, 43, 43) ;
    font-size: 16px;
    border-radius: 5px;
}

.btn{
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    cursor: pointer;
    box-shadow: 0 3px 3px 0 grey;
    line-height: 1.5;
    display: inline-block;
    text-decoration: none;
    margin-right: 0.2rem;
}

.btn-sec{
    background: #4d63df;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6275dd, #4d63df);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6275dd, #4d63df); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

